body {
  padding-top: 20px;
}

.footer {
  border-top: 1px solid #eee;
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}

/* 通用Main marketing message and sign up button */
.main-div{
	margin-top:10px;
}

.order-list-div {
	min-height:600px;
}

.li-style:hover {
	background-color:#f3f3f3;
}

.food-img{
	width:80px;
	height:80px;
}

.second-nav-ul{
	background-color: #eee;
border-radius: 5px;
border: 1px solid #ccc;
}

.second-nav-ul > li > a{
height:80px;
border-bottom:1px solid #ccc;
padding: 25px 35px;
font-weight: bold;
}
.active{
	background-color: #ddd
}

/*分页的input*/
.page-input{
	width: 40px;
	border: 1px solid #c3c3c3;
	outline:0;
}
/* Customize the nav-justified links to be fill the entire space of the .navbar */

.nav-justified {
  background-color: #eee;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.nav-justified > li > a {
  margin-bottom: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  /*color: #777;*/
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #d5d5d5;
}
.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
  background-color: #ddd;
  background-image: none;
  box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
}
.nav-justified > li:first-child > a {
  border-radius: 5px 5px 0 0;
}
.nav-justified > li:last-child > a {
  border-bottom: 0;
  border-radius: 0 0 5px 5px;
}

@media (min-width: 768px) {
  .nav-justified {
    max-height: 52px;
  }
  .nav-justified > li > a {
    border-left: 1px solid #fff;
    border-right: 1px solid #d5d5d5;
  }
  .nav-justified > li:first-child > a {
    border-left: 0;
    border-radius: 5px 0 0 5px;
  }
  .nav-justified > li:last-child > a {
    border-radius: 0 5px 5px 0;
    border-right: 0;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
}
